.btn-outline {
  @apply bg-transparent 
  font-medium 
  py-3 
  rounded-xl 
  outline 
  outline-2 
  hover:bg-grayButtonOutline 
  hover:outline-none
  hover:text-black 
  active:bg-gray-700 
  text-white transition-all;
}