.btn-outline {
  @apply bg-transparent 
  font-medium 
  py-3 
  rounded-xl 
  outline 
  outline-2
  outline-[#38c5c3] 
  hover:bg-[#61dbd9]
  hover:outline-none
  hover:text-black 
  active:bg-gray-700 
  text-white transition-all;
}